@model Test.ViewModels.ContestSubmissionViewModel
@{
    ViewBag.Title = "Submit";
}
<h3>@Model.ProblemName</h3>
<br />
<div class="form-group">
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.SourceProblemId, new { @class = "form-control ", @readonly = "readonly", @value = @Model.SourceProblemId })
    </div>
</div>
<br />
@using (Html.BeginForm("SaveSubmissionAsync", "ContestSubmissions", new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        @Html.DropDownListFor(m => m.LanguageId, new SelectList(Model.Languages, "Id", "Name"), "Select Language", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LanguageId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Code, 30, 200, new { })
        </div>
        @Html.ValidationMessageFor(m => m.Code)
    </div>
    @Html.HiddenFor(m => m.ApplicationUserId)
    @Html.HiddenFor(m => m.ProblemId)
    @Html.HiddenFor(m => m.ContestId)
    @Html.AntiForgeryToken()
    <button class="btn btn-success" type="submit">Submit Problem</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}