@model Test.Models.Problem
@{
    ViewBag.Title = "Problem";
}

<script>
    MathJax = {
        tex: {
            inlineMath: [['$$$', '$$$'], ['\\(', '\\)']]
        }
    };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

<h2>@Model.Name</h2>
<h4 style="flex-direction: row">Problem Id: @Model.SourceWebsite.Name-@Model.SourceProblemId</h4>
<h4>Contest Name: @Model.CodeForcesDetails.ContestSource</h4>
<h4><a href="@Model.CodeForcesDetails.SourceUrl">Problem Link</a></h4>
<div style="display: flex;">

    <div class="jumbotron " style="padding: 10px; margin: 20px;width:80%">

        <div style="margin: 15px;">
            <h2 style="text-align: center">Description</h2>
            <div class="jumbotron" style="padding: 5px;">
                @Html.Raw(Model.ProblemDetails.Description)
            </div>
        </div>

        <div style="margin: 15px;">
            <h2 style="text-align: center">Input</h2>
            <div class="jumbotron" style="padding: 5px;">
                @Html.Raw(Model.ProblemDetails.Input)
            </div>
        </div>

        <div style="margin: 15px;">
            <h2 style="text-align: center">Output</h2>
            <div class="jumbotron" style="padding: 5px;">
                @Html.Raw(Model.ProblemDetails.Output)
            </div>
        </div>

        <div style="margin: 15px;">
            <h2 style="text-align: center">Examples</h2>
            <div class="jumbotron" style="padding: 5px;">
                @Html.Raw(Model.CodeForcesDetails.Examples)
            </div>
        </div>

        <div style="margin: 15px;">
            <h2 style="text-align: center">Notes</h2>
            <div class="jumbotron" style="padding: 5px;">
                @Html.Raw(Model.ProblemDetails.Notes)
            </div>
        </div>

    </div>

    <div style="padding: 5px;margin: 20px">

        <div style="margin: 15px;">

            <div class="jumbotron" style="padding: 5px;">
                <h5 style="text-align: center">Time Limit:</h5>
                <p style="text-align: center"> @Model.ProblemDetails.TimeLimit</p>
            </div>

            <div class="jumbotron" style="padding: 5px;">
                <h5 style="text-align: center">Memory Limit:</h5>
                <p style="text-align: center"> @Model.ProblemDetails.MemoryLimit</p>
            </div>

            <div class="jumbotron" style="padding: 10px;">
                <h5 style="text-align: center">Input File:</h5>
                <p style="text-align: center"> @Model.CodeForcesDetails.InputFile</p>
            </div>

            <div class="jumbotron" style="padding: 10px;">
                <h5 style="text-align: center">Output File:</h5>
                <p style="text-align: center"> @Model.CodeForcesDetails.OutputFile</p>
            </div>

            <div class="jumbotron" style="padding: 10px;">
                <h5 style="text-align: center">Editorial:</h5>
                @Html.Raw(Model.CodeForcesDetails.Editorial)
            </div>

            <div class="jumbotron" style="padding: 10px;">
                <h5 style="text-align: center">Problem Tags:</h5>
                <p style="text-align: center"> @Model.CodeForcesDetails.Tags</p>
            </div>

        </div>
    </div>
</div>
@Html.ActionLink("Submit", "Submit", "Submissions", new { Model.Id }, new { @class = "btn btn-success" })
